 body {
     background-color: lightseagreen
 }

 .cssmath {
     font-size: xx-large;
     font-style: inherit;
     color: darkred;
     background-color: darksalmon;
     text-align: left;
     border-style: dashed;
     border-radius: 10px;
     border-color: black;
     border-width: 3px;
     background-color: aquamarine;
     background-repeat: repeat;
     background-size: cover;
     background-position: center;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw_9Vbpjg3QkjkjAe-G60cGiEgSetpIjaOUw_9oCjZng&s=10)
 }

 .cssphy {
     font-size: xx-large;
     font-style: inherit;
     color: darkred;
     background-color: darksalmon;
     text-align: center;
     border-style: dashed;
     border-radius: 10px;
     border-color: black;
     border-width: 3px;
     background-color: aquamarine;
     background-repeat: repeat;
     background-size: cover;
     background-position: center;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw_9Vbpjg3QkjkjAe-G60cGiEgSetpIjaOUw_9oCjZng&s=10)
 }

 .csschem {
     font-size: xx-large;
     font-style: inherit;
     color: darkred;
     background-color: darksalmon;
     text-align: right;
     border-style: dashed;
     border-radius: 10px;
     border-color: black;
     border-width: 3px;
     background-color: aquamarine;
     background-repeat: repeat;
     background-size: cover;
     background-position: center;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw_9Vbpjg3QkjkjAe-G60cGiEgSetpIjaOUw_9oCjZng&s=10)
 }